html, body, #root { height: 100%; margin:0; }

:root { --navbar-h: 56px; } /* ajusta a tu Navbar */

.app-shell{
  height: calc(100vh - var(--navbar-h));
  overflow: hidden;         /* sin scroll global */
}

.app-content{
  flex: 1 1 auto;
  min-width: 0;             /* evita desbordos por tablas anchas */
  height: 100%;
  overflow-y: auto;         /* scroll solo aquí */
}

/* opcional si quieres scroll en el menú largo */
.sidebar { overflow-y: auto; max-height: 100%; }

/* Animación para la entrada suave de nuevas vistas */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.success-button {
  background: '#38b647'; 
  color: 'white'; 
}